.products{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
}

@media screen and (min-width: 40em) and (max-width: 60em) {
  .products{  display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }

}

@media screen and (max-width: 700px) {
  .products{
    display: flex;
    flex-direction: column;
  }

}
