<div class="card">
  <div class="card-body">


    <app-img [img]="product.image"></app-img>

  </div>
  <div class="card-title">
    <div class="product-content">
      <h3>{{product.title}}</h3>
      <br>
      <p>Price: {{product.price}}$</p>

    </div>
    <hr>

    <div class="card-description" *ngIf="product.description">

      <p >
        {{product.description}}
      </p>
      <div>
        <button class="btn-product" (click)="addToCard()">Add Card</button>

      </div>
    </div>



  </div>




</div>
